.. _requirements:

Setup and Requirements
======================

Java Runtime Environment 8
--------------------------

*NRC Tools* require `Java Runtime Environment 8 <https://adoptopenjdk.net>`_ to run. Download and install JRE 8 by following the link. Note that the webpage may also list other JRE versions (JRE 11, JRE 16, etc). Make sure that the correct version (JRE 8) is downloaded and installed.


Silicon Labs USB-to-UART Driver
-------------------------------
*NRC Tools* require `Silicon Labs CP210x USB to UART Bridge VCP Drivers <https://www.silabs.com/developers/usb-to-uart-bridge-vcp-drivers>`_. Download and install the driver version that is compatible with your operating system.

NRC Board-to-PC Connection via a USB-to-UART Cable
--------------------------------------------------
A USB-to-UART cable is required to control the board from the PC running the NRC tools.


