#################################################################
# Default configuration file for FreeRTOS.config 				#
# You may have your own FreeRTOS.config file for your target 	#
# 1. Create FreeRTOS_[Target Name].config on  sdk/lib/hostap/	#
#							wpa_supplicant/						#
# 2. Modify include section on your Makefile					#
#   "include $(WPA_SUPP_ROOT)/wpa_supplicant/FreeRTOS.config"	#
#    to   "include $(WPA_SUPP_ROOT)/wpa_supplicant/				#
#    FreeRTOS_$(SYSTEM).config"  								#
#																#
# You may use your own way to define the config file.			#
#################################################################

CONFIG_L2_PACKET=freeRTOS
CONFIG_OS=freeRTOS
CONFIG_MAIN=main_freeRTOS
CFLAGS += -D_FREERTOS -DOS_NO_C_LIB_DEFINES -DCONFIG_NO_HOSTAPD_LOGGER
CONFIG_NO_FAST_ASSOC=y
CONFIG_NO_RANDOM_POOL=y
CONFIG_NO_GITVER=y
CONFIG_NO_CONFIG_WRITE=y
CONFIG_NO_CONFIG_BLOBS=y
CONFIG_ELOOP=eloop_freeRTOS
CONFIG_BACKEND=nrc
CONFIG_DRIVER_FREERTOS=y
CONFIG_CTRL_IFACE=freeRTOS
CONFIG_IEEE8021X_EAPOL=y
CONFIG_IEEE80211N=y
CONFIG_IEEE80211W=y
NEED_SME=y
CONFIG_HT_OVERRIDES=y
CONFIG_NO_STDOUT_DEBUG=y
CONFIG_NDP_PREQ=y
CONFIG_SAE=y
CONFIG_OWE=y
#CONFIG_WPS=y
#CONFIG_WPA_MSG=y

