CONFIG_L2_PACKET=freeRTOS
CONFIG_TLS=internal
CONFIG_OS=freeRTOS
CONFIG_MAIN=main_freeRTOS
CFLAGS += -D_FREERTOS -DOS_NO_C_LIB_DEFINES
CONFIG_NO_RANDOM_POOL=y
CONFIG_NO_GITVER=y
CONFIG_NO_CONFIG_WRITE=y
CONFIG_NO_CONFIG_BLOBS=y
CONFIG_ELOOP=eloop_freeRTOS
CONFIG_BACKEND=nrc
CONFIG_DRIVER_FREERTOS=y

CONFIG_CTRL_IFACE=freeRTOS

CONFIG_IEEE8021X_EAPOL=y

CONFIG_AP=y
NEED_AP_MLME=y

CONFIG_IEEE80211N=y
NEED_SME=y
CONFIG_HT_OVERRIDES=y
CONFIG_NO_STDOUT_DEBUG=y
